In [1]:
!pip install opencv-python
from ImageBase import ImageBase
import numpy as np
from cv2 import imwrite, cvtColor, COLOR_BGR2GRAY, resize

Requirement already satisfied: opencv-python in c:\users\william.garib\anaconda3\lib\site-packages (4.10.0.84)
Requirement already satisfied: numpy>=1.17.3 in c:\users\william.garib\anaconda3\lib\site-packages (from opencv-python) (1.20.3)

# Amostra da Oganização dos Arquivos

In [2]:
x=ImageBase("./ImageBase/")
x.data.head()

,path,classe,iluminacao,fundo,C,F,H,M,N,O,P,R,T,X,size
id,,,,,,,,,,,,,,,
PCT$E@A2.JPG,ImageBase\Ext\Fa2\PCT$E@A2.JPG,"[C, P, T]",E,A2,True,False,False,False,False,False,True,False,True,False,3.426981
POMCT$E@A2.JPG,ImageBase\Ext\Fa2\POMCT$E@A2.JPG,"[C, M, O, P, T]",E,A2,True,False,False,True,False,True,True,False,True,False,3.179371
PTO$E@A2.JPG,ImageBase\Ext\Fa2\PTO$E@A2.JPG,"[O, P, T]",E,A2,False,False,False,False,False,True,True,False,True,False,3.345244
TCM$E@A2.JPG,ImageBase\Ext\Fa2\TCM$E@A2.JPG,"[C, M, T]",E,A2,True,False,False,True,False,False,False,False,True,False,3.427424
TCMP$E@A2.JPG,ImageBase\Ext\Fa2\TCMP$E@A2.JPG,"[C, M, P, T]",E,A2,True,False,False,True,False,False,True,False,True,False,3.245831

# Metadados

In [3]:
x.meta

{'Classes': ['C', 'F', 'H', 'M', 'N', 'O', 'P', 'R', 'T', 'X'],
 'Número de Classes': 10,
 'Fundos': ['Listrado',
  'Branco',
  'Madeira',
  'Marrom',
  'Estampado',
  'Azul Claro',
  'Grama',
  'Azul'],
 'Iluminações': ['Interna', 'Externa'],
 'Número de Imagens': 213,
 'Tamanho Total (MB)': 486.27}

# Metadados das Classes

In [4]:
x.info_classes

             Classe Código Número de Amostras
C        Carregador      0                 47
F              Faca      1                 88
H           Chinelo      2                 69
M             Mouse      3                 46
N          Controle      4                 88
O  Cortador de Unha      5                 55
P    Protetor Solar      6                 51
R          Parafuso      7                 88
T           Tesoura      8                 51
X             Chave      9                100

# Metadados das Iluminações

In [5]:
x.info_iluminacoes

  Iluminação Número de Amostras
I    Interna                119
E    Externa                 94

# Metadados dos Fundos

In [6]:
x.info_fundos

         Fundo Número de Amostras
L     Listrado                 49
B       Branco                 44
M      Madeira                 36
F       Marrom                 28
R    Estampado                 18
A2  Azul Claro                 14
G        Grama                 13
A         Azul                 11

# RGB2gray

In [7]:
def RGB2gray(img):
    return cvtColor(img, COLOR_BGR2GRAY)

# Contrast Stretching

In [8]:
def contrast_stretching(img):
    intensidade_minima = img.min()
    intensidade_maxima = img.max()
    return (img - intensidade_minima) / (intensidade_maxima - intensidade_minima) * 255

# Log

In [9]:
def log(img, base):
    return np.log(img) / np.log(base)

# Exponencial

In [31]:
def exp(img, c):
    return np.power(img, c)

# Laplaciano

In [11]:
def convolution2d(image, kernel):
    m, n = kernel.shape
    if (m == n):
        y, x = image.shape
        y = y - m + 1
        x = x - m + 1
        new_image = np.zeros((y,x))
        for i in range(y):
            for j in range(x):
                new_image[i][j] = np.sum(image[i:i+m, j:j+m]*kernel)
    return new_image

In [33]:
def laplaciano(img):
    return convolution2d(img, np.array([[1,1,1], [1,-8,1], [1,1,1]]))

# Filtro Média

In [36]:
def filtro_media(img):
    return convolution2d(img, 1/49 * np.ones((7,7)))

# Processando o DataSet para Todas as Função

In [61]:
funcs = [contrast_stretching, log, exp, laplaciano, filtro_media]
funcs_name = ['contrast_stretching', 'log', 'exp', 'laplaciano', 'filtro_media']
cs = contrast_stretching
def process():
    c = 1
    for name in x.data.index:
        img = x.getById(name)
        img = cvtColor(img, COLOR_BGR2GRAY)
        img = resize(img, (0,0), fx=.3, fy=.3)
        
        imwrite('./augmentedDataSet/contrast_stretching/' + name, contrast_stretching(img))
        imwrite('./augmentedDataSet/log/' + name, cs(log(img, 2)))
        imwrite('./augmentedDataSet/exp/' + name, cs(exp(img, 1.5)))
        imwrite('./augmentedDataSet/laplaciano/' + name, laplaciano(img))
        imwrite('./augmentedDataSet/media/' + name, filtro_media(img))
        
        print(c)
        c+=1

In [ ]:
process()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

C:\Users\WILLIA~1.GAR\AppData\Local\Temp/ipykernel_8380/3323199778.py:2: RuntimeWarning: divide by zero encountered in log
  return np.log(img) / np.log(base)
C:\Users\WILLIA~1.GAR\AppData\Local\Temp/ipykernel_8380/2306001285.py:4: RuntimeWarning: invalid value encountered in subtract
  return (img - intensidade_minima) / (intensidade_maxima - intensidade_minima) * 255
C:\Users\WILLIA~1.GAR\AppData\Local\Temp/ipykernel_8380/2306001285.py:4: RuntimeWarning: invalid value encountered in true_divide
  return (img - intensidade_minima) / (intensidade_maxima - intensidade_minima) * 255

99
100
101
102
103